/src/bin-converter/bin-converter.depend
/src/bin-converter/bin
/src/bin-converter/obj
/firmware/EWARM/CD_emulator
/firmware/EWARM/settings
/helpertools/efmtablegen/obj
/helpertools/efmtablegen/bin
/helpertools/crctest/*.asv
/helpertools/crctest/bin
/helpertools/crctest/obj
/helpertools/crctest/crctest.depend
/helpertools/endianswap/obj
/helpertools/endianswap/bin
